#leiras {
    background-color: #F8F7F0;
    display: none ;
    text-align: justify;
}
html {
  scroll-behavior: smooth;
}
.eltunt {
    display: none;
    /* scroll-behavior: smooth; */
}
#leiras p {
    margin-bottom: 2vw;
    font-size:1vw;
}
#bezar {
    display: none;
    transition: all 2s;
    /* scroll-behavior: smooth; */


}
.attraction-info {
    /* position: relative; */
    padding-bottom: 5vw;
}
.gomb {
    cursor: pointer;
    background-color: #799e78;
    border: none;
    font-size: 1.5vw;
    padding: 1vw 1.5vw;
    border-radius: 100%;
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
    display: inline-block;
    display:default;
    position:absolute;
    bottom: 0.3vw;
    right: 0.3vw;
}
#bezar {
    position: relative;
    text-decoration: none;
    background-color: #799e78;


    color: white;
    font-size: 0.7vw;
    border-radius: 1vw;
    top: -1vw;
    left: 0;
    max-width: 5vw;
    padding: 0.3vw 0.5vw;
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.2);
    transition: none;

}
#bezar:hover {
    background-color: #5c7a5f;
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.4);

    
}

.gomb:hover {
    background-color: #5c7a5f;
    
}
.kep_ {
    width: 25%;
    margin-bottom: 2vw;
    object-fit: cover;
    border: #A3B18A solid 0.3vw; 
    padding: 0.4vw;
    border-radius: 1vw;
}

.jobb {
    margin-left: 2vw;

    float: right;
}
.bal {
    margin-right: 2vw;

    float: left;
}
